BasedOnStyle: LLVM
BreakBeforeBraces: Attach
ColumnLimit: 0
IndentWidth: 2
NamespaceIndentation: All
AllowShortIfStatementsOnASingleLine: AllIfsAndElse 
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
AllowShortLambdasOnASingleLine: None
IndentExternBlock: Indent
PenaltyBreakBeforeFirstCallParameter: 100
SpaceAfterControlStatementKeyword: false
BreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: false
SortIncludes: Never
IncludeBlocks: Preserve
BinPackArguments: true
BinPackParameters: true
AllowAllArgumentsOnNextLine: true
AlignAfterOpenBracket: DontAlign 
ContinuationIndentWidth: 2



