BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 2
NamespaceIndentation: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
IndentExternBlock: Indent
